<!--PRECIOS SITIOS WEB-->
<div id="Precios" style="color: #777;background-color:whitesmoke;padding:70px 20px;">
			<div class="wow slideInUp" data-wow-duration="2s">
				<h1 style="text-align:center; color: #282E34; letter-spacing: 5px;">Desarrollo Web</h1>
				<hr style="background-color: #FFA1A1; height: 4px;width: 35%; border:0">
				<p style="letter-spacing: 3px; text-align: center; color:red; font-size: 22px;"> Según tus necesidades: </p>
				<br>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-4 wow zoomIn" data-wow-duration="1s">
						<div class="cursor divBorde" style="padding: 10px; width: 23rem; height: 36rem; border-left-color: #FFA1A1; border-left-width: 15px; color: black; ">
							<h4 class="card-title" style=" text-align: center;"><b>BASICO</b></h4>
							<h2 style=" text-align: center ; color:red;"><b> Precio $3,500 </b></h2>
							<button type="button" class="btn btn-primary btn-lg btn-block">Contactanos</button><br>
							<p style="letter-spacing: 1px; font-size: 16px;">Perfecto para difundirte a través de la red.</p>
							<p style="letter-spacing: 1px; font-size: 16px;"> Incluye dominio gratis www.minegocio.com.mx.</p>
							<p style="letter-spacing: 1px; font-size: 16px;"> Sitio web con información esencial de tu empresa con cierto contenido de multimedia.</p>
						</div>
					</div>
					<div class="col-sm-4 wow zoomIn" data-wow-duration="2s">
						<div class="cursor divBorde" style="padding: 10px; width: 23rem; height: 36rem; border-left-color: #FEFFA1; border-left-width: 15px; color: black;">
							<h4 class="card-title" style=" text-align: center;"><b>ESTANDAR</b></h4>
							<h2 style=" text-align: center; color:red;"><b> Precio $8,000 </b></h2>
							<button type="button" class="btn btn-primary btn-lg btn-block">Contactanos</button><br>
							<p style="letter-spacing: 1px; font-size: 16px;"> Sitio web con diseño atractivo listo para ser visualizado desde cualquier movil o computadora.</p>
							<p style="letter-spacing: 1px; font-size: 16px;"> Incluye 6 actualizaciones durante los primeros 12 meses.</p>
							<p style="letter-spacing: 1px; font-size: 16px;"> Galería con hasta 20 imágenes de productos y servicios.</p>
							<p style="letter-spacing: 1px; font-size: 16px;"> Incluye domino gratis www.minegocio.com.mx.</p>
						</div>  	
					</div>
					<div class="col-sm-4 wow zoomIn" data-wow-duration="3s">
						<div class="cursor divBorde" style="padding: 10px; width: 23rem; height: 36rem; border-left-color: #A1B4FF; border-left-width: 15px; color: black;" >
							<h4 class="card-title" style=" text-align: center;"><b>PROFESIONAL</b></h4>
							<h2 style=" text-align: center; color:red;"><b> Precio $16,000 </b></h2>
							<button type="button" class="btn btn-primary btn-lg btn-block">Contactanos</button><br>
							<p style="letter-spacing: 1px; font-size: 16px;">Sitio web con diseño moderno, atractivo y dinámico (animaciones) listo para ser visualizado desde cualquier movil o computadora.</p>
							<p style="letter-spacing: 1px; font-size: 16px;"> Incluye 10 actualizaciones durante los primeros 12 meses. </p>
							<p style="letter-spacing: 1px; font-size: 16px;"> Galería con hasta 50 imágenes de productos y servicios. </p>
							<p style="letter-spacing: 1px; font-size: 16px;"> Incluye domino gratis www.minegocio.com.mx. </p>
						</div>  	
					</div>
				</div>
			</div>
</div>