  {%load static%}
  {% block content%}
  <!--SERVICES CONTENT-->
<div id="serviciosDiv" style="color:#ddd;background-color:#E6E6E6;padding:70px 80px;text-align: left;">
  	<section class="wow fadeInUp" data-wow-duration="2s">
	  <h1 style="text-align:center; color: #282E34; letter-spacing: 5px;">Servicios</h1>
	  <hr style="background-color: #ADD8e6;color: #ADD8E6;height: 4px;width: 40%; border:0">
	  <p style="letter-spacing: 3px; text-align: center; color:cadetblue; font-size: 22px;">Los mejores servicios para ti. </p><br>
  	</section>
	<section>
		 <div class="row">
			<div class="col-sm-3 col-md-2"><img id="redondoIcons" class="serviciosAnimated wow rollIn" data-wow-duration="2s" src='{% static "img/diseñoMovil.png" %}'></div>
			<div class="col-sm-1 col-md-4"> <b><h3>Desarrollo Movil</h3></b><p style=" letter-spacing: 1px; color: black;">Desarrollamos aplicaciones móviles para plataforma android interactivas y con atractivos diseños para tu empresa, producto o idea sin importar el rubro o tamaño de la aplicación.</p></div>
			<div class="col-sm-3 col-md-2"><img id="redondoIcons" class="img serviciosAnimated wow rollIn" data-wow-duration="2s" src='{% static "img/diseñoWeb.png" %}'></div>
			<div class="col-sm-1 col-md-4"><b><h3>Desarrollo Web</h3></b><p style=" letter-spacing: 1px; color: black;"> Desarrollamos desde páginas web para promocionar tu negocio ó empresa hasta sistemas web para optimizar y realizar actividades administrativas.</p></div>
		</div>
		<div class="row">
			<div class="col-sm-3 col-md-2"><img id="redondoIcons" class="img serviciosAnimated wow rollIn" data-wow-duration="2s" src='{% static "img/consultoria.png" %}'></div>
			<div class="col-sm-1 col-md-4"> <b><h3>Cursos</h3></b><p style=" letter-spacing: 1px; color: black">Impartimos cursos de las tecnologías actuales.</p></div>
			<div class="col-sm-3 col-md-2"><img id="redondoIcons" class="img serviciosAnimated wow rollIn" data-wow-duration="2s" src='{% static "img/cursos.png" %}'></div>
			<div class="col-sm-1 col-md-4"> <b><h3>Consultorias</h3></b><p style=" letter-spacing: 1px; color:black">Apoyamos tu idea o proyecto con asesorías sobre que tecnología utilizar y cómo implementarla.</p></div>
		</div>
		<br>
	</section>
</div>

<!--APASIONADOS-->
<div class="bgimg-3" style=" background-image: url('{% static 'img/precios.png' %}'); min-height: 60%;">
		<div class="caption">
			<span class="border wow fadeInUp" data-wow-duration="3s">APASIONADOS POR LA TECNOLOGÍA, APASIONADOS POR APRENDER CADA DÍA.</span>
		</div>
</div>

<!--PRECIOS SITIOS WEB-->
<div id="Precios" style="color: #777;background-color:whitesmoke;padding:70px 20px;">
			<section class="wow slideInUp" data-wow-duration="2s">
				<h1 style="text-align:center; color: #282E34; letter-spacing: 5px;">Desarrollo Web</h1>
				<hr style="background-color: #FFA1A1; height: 4px;width: 35%; border:0">
				<p style="letter-spacing: 3px; text-align: center; color:red; font-size: 22px;"> Según tus necesidades: </p>
				<br>
			</section>
			<div class="container">
				<div class="row">
					<div class="col-sm-4 wow zoomIn" data-wow-duration="1s">
						<div class="cursor divBorde" style="padding: 10px; width: 23rem; height: 36rem; border-left-color: #FFA1A1; border-left-width: 15px; color: black; ">
							<h4 class="card-title" style=" text-align: center;"><b>BASICO</b></h4>
							<h2 style=" text-align: center ; color:red;"><b> Precio $3,500 </b></h2>
							<button type="button" class="btn btn-primary btn-lg btn-block">Contactanos</button><br>
							<p style="letter-spacing: 1px; font-size: 16px;">Perfecto para difundirte a través de la red.</p>
							<p style="letter-spacing: 1px; font-size: 16px;"> Incluye dominio gratis www.minegocio.com.mx.</p>
							<p style="letter-spacing: 1px; font-size: 16px;"> Sitio web con información esencial de tu empresa con cierto contenido de multimedia.</p>
						</div>
					</div>
					<div class="col-sm-4 wow zoomIn" data-wow-duration="2s">
						<div class="cursor divBorde" style="padding: 10px; width: 23rem; height: 36rem; border-left-color: #FEFFA1; border-left-width: 15px; color: black;">
							<h4 class="card-title" style=" text-align: center;"><b>ESTANDAR</b></h4>
							<h2 style=" text-align: center; color:red;"><b> Precio $8,000 </b></h2>
							<button type="button" class="btn btn-primary btn-lg btn-block">Contactanos</button><br>
							<p style="letter-spacing: 1px; font-size: 16px;"> Sitio web con diseño atractivo listo para ser visualizado desde cualquier movil o computadora.</p>
							<p style="letter-spacing: 1px; font-size: 16px;"> Incluye 6 actualizaciones durante los primeros 12 meses.</p>
							<p style="letter-spacing: 1px; font-size: 16px;"> Galería con hasta 20 imágenes de productos y servicios.</p>
							<p style="letter-spacing: 1px; font-size: 16px;"> Incluye domino gratis www.minegocio.com.mx.</p>
						</div>  	
					</div>
					<div class="col-sm-4 wow zoomIn" data-wow-duration="3s">
						<div class="cursor divBorde" style="padding: 10px; width: 23rem; height: 36rem; border-left-color: #A1B4FF; border-left-width: 15px; color: black;" >
							<h4 class="card-title" style=" text-align: center;"><b>PROFESIONAL</b></h4>
							<h2 style=" text-align: center; color:red;"><b> Precio $16,000 </b></h2>
							<button type="button" class="btn btn-primary btn-lg btn-block">Contactanos</button><br>
							<p style="letter-spacing: 1px; font-size: 16px;">Sitio web con diseño moderno, atractivo y dinámico (animaciones) listo para ser visualizado desde cualquier movil o computadora.</p>
							<p style="letter-spacing: 1px; font-size: 16px;"> Incluye 10 actualizaciones durante los primeros 12 meses. </p>
							<p style="letter-spacing: 1px; font-size: 16px;"> Galería con hasta 50 imágenes de productos y servicios. </p>
							<p style="letter-spacing: 1px; font-size: 16px;"> Incluye domino gratis www.minegocio.com.mx. </p>
						</div>  	
					</div>
				</div>
			</div>
		</div>
<!--IDEA o NEGOCIO-->
<div style="color:#ddd;background-color:darkcyan;padding:90px 80px;text-align: center;">
		<section class="wow fadeInRight" data-wow-duration="2s">
			<div class="row">
				<div class="col-sm-6 col-md-6">
    				<img class="img-responsive" src='{% static "img/apps.png" %}' width="470px" height="400px">					
    			</div>
    			<div class="col-sm-6 col-md-6">
			    	 <h2 style="letter-spacing: 5px;">Haz crecer tu idea o negocio</h2>
			    	 <hr>
			    	 <p style=" letter-spacing: 5px; font-size: 18px;">En Roxsoft desarrollamos aplicaciones sin importar el tamaño rubro o dificultad que este tenga. Cuente con su propia aplicación movil, acercate con nostros platicanos tu idea y la construiremos a tus necesidades.</p>
			    	 <br><button style="color:black;" id="contactanos" type="button" class="contactanos btn btn-inverse btn-lg">Contactanos</button>
			    	 <br>
		  		</div>
			</div>
		</section>
</div>
{% endblock content %}
