body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}
.bgimg-1{
  position: relative;
  opacity: 0.85;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-2, .bgimg-3{
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.caption {
  position: absolute;
  left: 0;
  top: 35%;
  width: 100%;
  text-align: center;
  color: #000;
}
.caption span.border {
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}
.pieImagen {
  left: 0;
  margin-top: 5%;
  width: 100%;
  text-align: center;
  color: #000;
}
.pieImagen span.border {
  background-color: #111;
  color: #fff;
  padding: 8px;
  font-size: 15px;
  letter-spacing: 5px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px; 
}
h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
}
h1 {
    letter-spacing: 5px;
    font: 50px "Lato", sans-serif;
}
#redondo{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;   
    transform:translate(0px);
    -ms-transform:translate(0px); // IE 9 
    -moz-transform:translate(0px); // Firefox 
    -webkit-transform:translate(0px); // Safari and Chrome 
    -o-transform:translate(0px); // Opera 
    -webkit-transition: all 500ms ease-in-out; // IE 9
    -moz-transition: all 500ms ease-in-out; // Firefox
    -ms-transition: all 500ms ease-in-out; // Safari and Chrome 
    -o-transition: all 500ms ease-in-out; // Opera    
} 
#redondoIcons{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 110px;
    height: 110px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;   
    transform:translate(0px);
    -ms-transform:translate(0px); // IE 9 
    -moz-transform:translate(0px); // Firefox 
    -webkit-transform:translate(0px); // Safari and Chrome 
    -o-transform:translate(0px); // Opera 
    -webkit-transition: all 500ms ease-in-out; // IE 9
    -moz-transition: all 500ms ease-in-out; // Firefox
    -ms-transition: all 500ms ease-in-out; // Safari and Chrome 
    -o-transition: all 500ms ease-in-out; // Opera    
    } 
.puntero:hover{
    cursor:pointer;
}
.contactanos:hover{
    animation:pulse;
    -webkit-animation-duration: 3s;
}

.divBorde{
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey

}
.cursor:hover{
    animation:pulse;
    -webkit-animation-duration: 2s;
}
