<!DOCTYPE html>
{%load static%}

<html>

<head>
	<title>
		{%block titulo%}Roxsoft{%endblock titulo%}
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--Import Google Icon Font-->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="{%static 'css/main.css'%}">

	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
	
	{%block head%} {%endblock head%}
</head>

<body>	
	<nav class="N/A transparent  navbar-fixed">
		<div class="nav-wrapper">
			<a href="#" class="brand-logo blue-text text-darken-2">Roxsoft</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down blue-text text-darken-2">
					<li><a href="#" class="blue-text text-darken-2">Inicio</a></li>
					<li><a href="#" class="blue-text text-darken-2">Servicios</a></li>
					<li><a href="#" class="blue-text text-darken-2">Portafolio</a></li>
					<li><a href="#" class="blue-text text-darken-2">¿Quiénes somos?</a></li>
					<li><a href="#contact" class="blue-text text-darken-2">Contácto</a></li>		
			</ul>
		</div>
	</nav>	

	{%block content%}
	
	

	{%endblock content%}
     <!--Import jQuery before materialize.js-->
	 <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
	 {%block scripts%}
	 {%endblock scripts%}
</body>

</html>