{%extends 'base.html' %} 
{%load static%}
{% block content%}



		<div class="slider">
						<ul class="slides">
							<li>
								 <img src="http://met.live.mediaspanonline.com/assets/31069/example-608web_w608.jpg"> <!-- random image -->
								 <div class="caption left-align">
								   <h2 class="white-text  "></h2>
								   <h5 class="white-text  "></h5>
								 </div>
							 </li>
							 <li>
								 <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/7/000/2ad/1f4/007d8c5.jpg"> <!-- random image -->
								 <div class="caption center-align">
								   <h2 class="white-text"></h2>
								   <h5 class="white-text"></h5>
							 </li>
							 <li>
								 <img src="http://informatica.desecundaria.com/informatica/images_informatica/aula%20informatica.png"> <!-- random image -->
								 <div class="caption right-align">
								   <h2 class="white-text "></h2>
								   <h5 class="white-text "></h5>
								 </div>
							 </li>
	        			</ul>		
        </div>

   


       
{%endblock content%}

{%block scripts%}
<script>
		$(document).ready(function(){
    		$('.slider').slider({full_width: true,indicators:true});
		});
</script>
{%endblock scripts%} 